body {
  background-color: #e1c6e7;
}
.cuadro {
  margin: 80px auto;
  max-width: 600px;
  border: 2px solid none;
  border-radius: 12px;
  padding: 35px 25px 10px 25px;
  background: white;
  box-shadow: 15px 10px 20px 8px rgb(235, 235, 94, 0.5);
}

header {
  padding-bottom: 30px;
  border-bottom: 0.5px solid rgb(128, 128, 128, 0.2);
}

.enter-city {
  line-height: 35px;
  padding-left: 5px;
  padding-right: 275px;
  margin-right: 5px;
  border-radius: 8px;
  border: 2px solid #eac0f2;
  font-size: 17px;
}

.submit {
  font-weight: bold;
  color: white;
  font-size: 17px;
  background-color: #cd60e2;
  line-height: 37px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  border: none;
}

main {
  padding-bottom: 15px;
  font-family: "Alef", serif;
}
.weatherToday {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.city-name {
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 45px;
}

.wind-speed {
  color: red;
  font-weight: bold;
}

.humidity {
  color: red;
  font-weight: bold;
}

.current-condition {
  display: flex;
  align-items: center;
}

.current-icon {
  font-size: 33px;
}

.current-temp {
  align-self: flex-start;
  margin-top: 16px;
  font-size: 80px;
  font-weight: bold;
}

.current-unit {
  align-self: flex-start;
  margin-top: 47px;
  margin-left: 5px;
  font-size: 33px;
  font-weight: bold;
}

.forecast {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 36px;
  font-size: 18px;
}

.forecast-day {
  text-align: center;
}

.day-name {
  font-weight: bold;
}

.day-temp {
  display: flex;
}

.max {
  padding-right: 8px;
  font-weight: bold;
  color: red;
}
footer {
  padding-top: 24px;
  border-top: 0.5px solid rgb(128, 128, 128, 0.2);
  text-align: center;
}
