body {
  background-color: #eac0f2;
}
.cuadro {
  margin: 80px auto;
  max-width: 600px;
  border: 2px solid none;
  border-radius: 12px;
  padding: 25px;
  background: white;
}

header {
  padding-bottom: 20px;
  border-bottom: 0.5px solid grey;
}

.enter-city {
  line-height: 35px;
  padding-left: 5px;
  padding-right: 275px;
  margin-right: 5px;
  border-radius: 8px;
  border: 2px solid #eac0f2;
  font-size: 17px;
}

.submit {
  font-weight: bold;
  color: white;
  font-size: 17px;
  background-color: #cd60e2;
  line-height: 37px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  border: none;
}

.weatherToday {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 46px 20px;
}

.city-name {
  font-size: 45px;
}

.wind-speed {
  color: red;
  font-weight: bold;
}

.humidity {
  color: red;
  font-weight: bold;
}

.current-condition {
  display: flex;
  align-items: center;
}

.current-icon {
  font-size: 35px;
}

.current-temp {
  font-size: 60px;
}

.current-unit {
  align-self: flex-start;
  margin-top: 47px;
  margin-left: 5px;
  font-size: 33px;
  font-weight: bold;
}
footer {
  padding-top: 16px;
  border-top: 0.5px solid grey;
}
